body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    
   
}
.navagate {
 position: relative;
 width: 100%;
 height: 100vh;

}

nav ul {
display: flex;
justify-content: space-between;

}

a { 
    color: white;
    font-weight: bold;

}